@import '~bootstrap/scss/bootstrap.scss';

@mixin equal-padding ($x) {
    padding: $x $x $x $x;
}

@mixin equal-margin ($x) {
    margin: $x $x $x $x;
}

$background: #e17055;
$container: #fab1a0;
$border-color: #d63031;

body {
    background-color: $background;
}